.DS_Store

# Env files
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/
ENV/

# Logs
*.log
command.txt

.cursor/*

/.cursor